@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    
}

body{
    
    line-height: 1.8em;
    height: 100vh;
    width: 100%;
    background: url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg) no-repeat fixed;
    background-size: cover;
    background-color: rgba(58, 58, 158, 0.8);
    background-blend-mode:soft-light;
}

header {
    font-family: 'Poppins', sans-serif;
    font-weight:300;
    display: block;
    color: white;
    height: auto;
    max-width: 500px;
    min-width: 300px;
    height: 100px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    padding-top: 50px;
}

header > h1 {
    font-weight: 500;
}

header > p {
    font-size: 0.9em;
    font-style: italic;
}

main#pagina {
    position: relative;
    width: 100%;
    height: 100vh;
    
}

section#formulario {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    color: white;
    padding: 30px;
    width: 350px;
    font-size: 1.3em;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px #2b2b49a8;
    background-color: #2b2b49ee;
    transition: width .3s;
    
}

input, option, select{
    width: 100%;
    font-size: .8em;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 5px;
}

p {
    padding-bottom:10px;
    padding-top: 10px;
}

.divinput > label {
    display: block;
    padding-bottom: 10px;
    padding-top: 10px;
}


div#divradio > label {
    display:inline;
    padding: 3px;
}

div#divradio {
    padding-top: 10px;
}

input[type=radio] {
    display: inline-block;
    text-align: left;
    width: 20px;
    transform: scale(1.5);
}

input[type=checkbox] {
    display: inline-block;
    text-align: left;
    width: 20px;
    transform: scale(1.5);

}

#iarea {
    width: 100%;
    height: 100px;
    resize: vertical;
    padding: 10px;
    box-sizing: border-box;
}

#isubmit {
    background-color: #37AF65;
    color: white;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0px;
    
}



